h1 {
    color: navy
}

.name {
    border: 2px black solid;
    display: inline-block;
    background-color: aqua;
}

button {
    color: chocolate;
    transform: scale(3);
    transform-origin: top left;
}